.sit-bottom {
    position: absolute;
    bottom: 15px;
    width: 87%;
    margin-left: 3%;
}

.chatroom {
    background-color: #71a95a;
    padding: 7px;
    border-radius: 10px;
}

.messages {
    overflow-y: scroll;
    min-height: 400px;
    max-height: 470px;
    height: 80%;
}