<form
    [formGroup]="messageForm"
    (ngSubmit)="sendMessage(messageForm)"
>
    <input
        formControlName="message"
        type="text" 
        class="form-control col-xs-12"
        placeholder="message"
    >
    <input
        formControlName="sender"
        type="text"
        class="form-control col-xs-12"
        placeholder="sender"
    >
    <input
        [disabled]="!messageForm.valid"
        type="submit" 
        class="btn btn-success seed-btn" 
        style="margin-top: 5px;" 
        value="Send"
    >
</form>