:host {
    display: block;
}

.wrapper {
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    max-width: 300px;
    background-color: #ffbbb4;
}

.YOU {
    float: right;
    text-align: right;
    width: 100%;
    margin-top: 15px;
}

.THEM {
    float: left;
    text-align: left;
    width: 100%;
    margin-top: 15px;
}
