.form-control:focus {
    box-shadow: none;
}

.watermelon {
    min-height: 150px;
    height: 40vh;
    display: block;
    margin: 0 auto;
}

.enter-input {
    background-color: transparent;
    border: 3px solid #71a95a;
    border-radius: 4px;
}

.enter-input:hover {
    background-color: #71a95a;
}

.enter-input:focus {
    background-color: #71a95a;
}

.go-btn {
    background-color: #86C155;
    border-color: #86C155;
    margin: auto;
}

.go-btn:disabled {
    background-color: #86C155;
    border-color: #86C155;
    margin: auto;
    opacity: .6;
}
