<img class="watermelon" src="assets/watermelon.svg" alt="watermelon">
<h2 class="mt-3 text-center">Welcome to Watermelon.IO!</h2>
	<form
		[formGroup]="_enterScreenForm"
		(ngSubmit)="submitEnterScreenForm()"
	>
  	<input
		formControlName="userName"
		type="text"
		placeholder="Your Name"
		class="mt-2 text-center form-control enter-input"
  	>
  	<input
		formControlName="friendUserName"
		type="text"
		placeholder="Your Friend's Name"
		class="mt-2 text-center form-control enter-input"
  	>
	<input
		[disabled]="_enterScreenForm.invalid"
		type="submit"
		value="GO!"
		id="go-btn"
		class="mt-2 text-center form-control go-btn"
  	>
</form>

